.box0{
    background-color: beige;
    max-width: 50%;
    min-width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 50px;
}

h1 {
    padding: 0;
    margin: 0;
}

.box{
    background-color: beige;
    max-width: 50%;
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-size: 25px;
    padding: 50px;
    margin-top: 20vh;
}

.btn{
    padding: 10px 24px;
    font-size: 12px;
    border-radius: 8px;
}

.btn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}


body{
    text-align: center;
}
.btn2{
    margin-top: 10px;
}